<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Do This With Me!</title>
  <meta name="description" content="Do this with me!">
  <meta name="author" content="DTWM">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/static/css/style.css?v=2">
  <link rel="stylesheet" href="/static/css/960.css?v=2">
  <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.7.custom.css?v=2">
</head>

{% if current_user %}
<body onload="initGeolocation();">
{% else %}
<body>
{% endif %}
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
      
    </script>
    
    <div class="container_24">
        <div class="grid_12">
            <img src="/static/img/logo.png" />
        </div>
        <div class="grid_12" style="text-align:center;">
            <div style="padding-top:40px;">
                {% if current_user %}
                  <p><a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.id }}/picture?type=square"/></a></p>
                  <p>Hello, {{ current_user.name|escape }}</p>
                  <p>Finding an event: <span id="location">...</span><a href="#" id="set-location">change</a></p>
                {% endif %}
                
                <fb:login-button autologoutlink="true" perms="user_events,friends_events,user_interests,friends_interests,user_likes,friends_likes,user_location,read_friendlists"></fb:login-button>
            </div>
        </div>
        
        <div class="clear"></div>
        <br />
        
        <div class="grid_12">
            <img src="/static/img/step1.png" /><br />
            {% if current_user %}                
                <input id="add_friends" placeholder="Type a friend's name"/>
                <div id="selected_friend_list">
                    {% if selected_friends %}
                        {% for f in selected_friends %}
                            <div id="friend-{{ f.id }}"><img src="{{ f.picture }}"/>{{ f.name }}<a href="#" id="remove-friend-{{ f.id }}">remove</a></div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}             

        </div>
        <div class="grid_12">
            <img src="/static/img/step2.png" />&nbsp;&nbsp;<a href="#" id="get-next-event">I don't want to do this, show me another!</a><br />
            
            <div id="event" style="margin-top:20px;width:300px;height:300px;background-color:grey;">{% block main %}{% endblock %}</div>
            
        </div>
        
        <div class="grid_12 prefix_12">
            <img src="/static/img/step3.png" /><br /><br />
            (share link)
        </div>
        
        <div class="grid_24">
            {% block footer %}
                Footer
            {% endblock %}
        </div>
    </div>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/libs/jquery-1.4.4.js"%3E%3C/script%3E'))</script>
  <script src="/static/js/libs/jquery-ui-1.8.7.custom.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> 
  
  {% if current_user %}
      <script type="text/javascript">
        $(document).ready(function() { 
            $('#event').load('/ajax/next_event');
            $('#get-next-event').click(function(){
                $('#event').load('/ajax/next_event');
            });
            
            
            function removeSelectedFriend(data) {
                $("div#friend-"+data.id).remove();
            }
            
            function loadFriendAutocomplete(data) {
                var friendList = data;
                $( "#add_friends" ).autocomplete({
                    source: friendList,
                    close: function(event, ui) { $("#add_friends").val(''); $("#add_friends").blur(); return false; }
                });

                $( "#add_friends" ).bind("autocompleteselect", function(event, ui) {
                    // send an ajax request to get friend's information
                    $.getJSON('/ajax/add_friend', {id:ui.item.value}, function(data) {
                        // add friend (with profile pic) to list below input box
                        // get friend's information
                        // blank the event screen
                        $('#selected_friend_list').append('<div id="friend-'+data.id+'"><img src=\"'+data.picture+'\"/>'+data.name+'<a href="#" id="remove-friend-'+data.id+'">remove</a></div>');
                         $('#remove-friend-'+data.id).click(function(){
                             $.getJSON('/ajax/remove_friend', {id:data.id}, removeSelectedFriend);
                         });
                         
                        // call for a new event
                    });
                });
            }

            $.getJSON('/ajax/friend_list', loadFriendAutocomplete);
            
            {% if selected_friends %}
                {% for f in selected_friends %}
            $('#remove-friend-{{ f.id }}').click(function(){
                $.getJSON('/ajax/remove_friend', {id:{{ f.id }}}, removeSelectedFriend);
            });
                {% endfor %}
            {% endif %}
        });
        
        // GEOLOCATION
        
        function initGeolocation()
        {
            // Try W3C Geolocation method (Preferred)
            if(navigator.geolocation) {
                browserSupportFlag = true;
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geocoder = new google.maps.Geocoder()
                    var initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                    geocoder.geocode({'latLng': initialLocation}, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[1]) {
                                $.getJSON('/ajax/set_location', {error:'1', location:results[1], latitude:position.coords.latitude, longitude:position.coords.longitude}, function(data) {
                                    $('#location').html(data.location);
                                });
                                return;
                            }
                        }                  
                    });
                });
            }
            
            handleNoGeolocation(true);
        }
        
        function handleNoGeolocation(errorFlag) {
          // if (errorFlag == true) {
          //   initialLocation = newyork;
          //   contentString = "Error: The Geolocation service failed.";
          // } else {
          //   initialLocation = siberia;
          //   contentString = "Error: Your browser doesn't support geolocation.";
          // }
          $.getJSON('/ajax/set_location', {error:'1'}, function(data) {
                  $('#location').html(data.location);
          });
        }

      </script>
  {% endif %}

  <script>
   var _gaq = [['_setAccount', 'UA-20560502-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>
